.banner {
  display: block;
  box-sizing: border-box;
  height: auto;
  /* background-color: #3257B5; */
  background-color: #6425cb;
  /* background-color: #6022EA; */
  /* background-color: #37c0e2; */
  clip-path: ellipse(120% 100% at 50.31% 0%);
}

.typed string {
  font-size: 500;
}
