.banner {
     display: block;
     box-sizing: border-box;
     height: auto;
     background-color: #B7DCE7;
     clip-path: ellipse(120% 100% at 50.31% 0%);
}

.typed string {
     font-size: 500;
}